@font-face {
  font-family: "Afek-Bold";
  src: url("../fonts/Afek-DemiBold/Afek-DemiBold.eot");
  src: url("../fonts/Afek-DemiBold/Afek-DemiBold.ttf") format("truetype"), url("../fonts/Afek-DemiBold/Afek-DemiBold.woff") format("woff"), url("../fonts/Afek-DemiBold/Afek-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Afek";
  src: url("../fonts/Afek-Regular/Afek-Regular.eot");
  src: url("../fonts/Afek-Regular/Afek-Regular.ttf") format("truetype"), url("../fonts/Afek-Regular/Afek-Regular.woff") format("woff"), url("../fonts/Afek-Regular/Afek-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Afek-Thin";
  src: url("../fonts/Afek-Thin/Afek-Thin.eot");
  src: url("../fonts/Afek-Thin/Afek-Thin.ttf") format("truetype"), url("../fonts/Afek-Thin/Afek-Thin.woff") format("woff"), url("../fonts/Afek-Thin/Afek-Thin.woff2") format("woff2");
}

h1 {
  color: #357875;
  font-family: 'Afek-Bold';
  font-size: 44px;
  font-weight: 600;
}

p {
  line-height: 1.63;
  cursor: default;
}

label {
  line-height: 1.5;
}

button {
  font-family: 'Afek-Bold';
  width: 180px;
  height: 48px;
  border-radius: 29.2px;
  background-color: #357875;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

a {
  font-family: 'Afek-Bold';
  color: #357875;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  height: 48px;
  border-radius: 4px;
  border: solid 1px #d6d6d6;
  padding: 0 16px 0 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  outline: 1px #aa198d;
  border-color: #aa198d;
  border-radius: 4px;
  color: #424242;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="tel"]:focus::placeholder {
  color: transparent;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder {
  color: #d6d6d6;
}

select {
  height: 48px;
  border-radius: 4px;
  border: solid 1px #d6d6d6;
  padding: 0 16px 0 0;
  width: 496px;
}

select:focus {
  outline: 1px #aa198d;
  border-color: #aa198d;
  border-radius: 4px;
  color: #424242;
}

select:focus::placeholder {
  color: transparent;
}

select::placeholder {
  color: #d6d6d6;
}

.select2-dropdown.select2-dropdown--below {
  width: 496px;
  border: 1px solid #d6d6d6;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.14);
}

.select2-container--default .select2-selection--single {
  height: 48px;
  border-radius: 4px;
  border: solid 1px #d6d6d6;
  padding: 0 16px 0 0;
  padding: 23px;
  height: 100px;
  line-height: 300px;
  width: 496px;
  font-size: 1.2em;
  position: relative;
}

.select2-container--default .select2-selection--single:focus {
  outline: 1px #aa198d;
  border-color: #aa198d;
  border-radius: 4px;
  color: #424242;
}

.select2-container--default .select2-selection--single:focus::placeholder {
  color: transparent;
}

.select2-container--default .select2-selection--single::placeholder {
  color: #d6d6d6;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 478px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.select2-selection__arrow {
  padding-top: 15px;
  padding-left: 14px;
}

#select2-job-container {
  margin-top: -15px;
  margin-right: -15px;
}

#select2-job-container * {
  color: #d6d6d6;
}

.select2-results__options {
  border: 1px thin black;
  height: 100%;
}

.select2-results__options li {
  padding-top: 12px;
  padding-bottom: 12px;
}

.select2-results__options li img {
  margin: 0 5px -8px 10px;
}

.select2-search__field {
  display: none;
  border: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Afek';
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1440px;
  max-height: 900px;
  display: flex;
}

@media screen and (max-width: 425px) {
  main {
    width: 425px;
    margin-right: 250px;
  }
}

.main-section {
  border: solid 1px #d6d6d6;
  height: 898px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section .tablet {
  display: none;
}

@media screen and (max-width: 1000px) and (min-width: 426px) {
  .main-section .tablet {
    display: inline-block;
    height: 1183px;
    width: 768px;
  }
}

.main-section .mobile {
  display: none;
}

@media screen and (max-width: 425px) {
  .main-section .mobile {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 375px;
    height: 193px;
  }
}

.main-section .main-content {
  z-index: 1;
  width: 494px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-section .main-content header h1 {
  margin-top: 0;
  margin-bottom: 8px;
}

.main-section .main-content header p {
  margin-bottom: 21px;
  width: calc(100% - 15px);
}

.main-section .main-content form {
  position: relative;
}

.main-section .main-content form > div {
  margin-bottom: 25px;
}

.main-section .main-content form > div label {
  display: block;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .main-section .main-content form > div label {
    width: 316px;
  }
}

.main-section .main-content form > div input {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .main-section .main-content form > div input {
    width: 316px;
  }
}

@media screen and (max-width: 425px) {
  .main-section .main-content form > div {
    width: 334px;
    margin-left: 0;
  }
}

.main-section .main-content form .row {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  position: relative;
}

.main-section .main-content form .row .name-field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 10px;
  width: 235px;
  height: 91px;
}

.main-section .main-content form .row .name-field input {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .main-section .main-content form .row .name-field {
    width: 159px;
  }
}

@media screen and (max-width: 425px) {
  .main-section .main-content form .row {
    justify-content: space-between;
    width: 334px;
  }
}

.main-section .main-content .description {
  margin: 0;
  font-size: 12px;
  color: #d6d6d6;
}

.main-section .main-content .license {
  margin-bottom: 7px;
}

.main-section .main-content #info-image {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  margin: 0 50px 0 0;
}

.main-section .main-content .checkbox-div {
  margin-top: 11px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-section .main-content .checkbox-div input {
  width: 18px;
  height: 18px;
  margin-left: 11px;
}

.main-section .main-content .div-submit {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 494px;
  font-size: 18px;
  height: 86px;
  padding: 0 113px;
  margin: -45px -113px;
  bottom: 0;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px #d6d6d6;
  background-color: #ffffff;
  z-index: 1;
}

@media screen and (max-width: 1000px) and (min-width: 426px) {
  .main-section .main-content .div-submit {
    position: static;
    width: 494px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 1000px) and (min-width: 426px) {
  .main-section .main-content {
    padding: 0;
    margin: 128px 97px 61px 97px;
    background-color: #ffffff;
    height: 994px;
    width: 594px;
  }
}

@media screen and (max-width: 425px) {
  .main-section .main-content {
    margin-top: 193px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1000px) and (min-width: 426px) {
  .main-section {
    margin: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .main-section {
    justify-content: center;
    width: 375px;
    height: 1018px;
  }
}

.wrapper {
  width: 100%;
}

@media screen and (max-width: 1000px) and (min-width: 426px) {
  .wrapper {
    padding: 56px 40px;
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    padding: 0 20px;
  }
}

.background {
  position: relative;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 900px;
}

.background-logo {
  width: 147px;
  height: 52px;
  position: absolute;
  z-index: 1;
  left: 0;
  margin: 45px 0 0 42px;
}

@media screen and (max-width: 1000px) and (min-width: 426px) {
  .background {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .background {
    display: none;
  }
}

.tablet-logo {
  display: none;
}

@media screen and (max-width: 1000px) and (min-width: 426px) {
  .tablet-logo {
    width: 147px;
    height: 52px;
    display: inline;
    position: absolute;
    top: 44px;
  }
}

section {
  width: 50%;
  height: 100%;
}
