@font-face {
  font-family: "Afek-Bold";
  src: url("../fonts/Afek-DemiBold/Afek-DemiBold.eot");
  src: url("../fonts/Afek-DemiBold/Afek-DemiBold.ttf") format("truetype"), url("../fonts/Afek-DemiBold/Afek-DemiBold.woff") format("woff"), url("../fonts/Afek-DemiBold/Afek-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Afek";
  src: url("../fonts/Afek-Regular/Afek-Regular.eot");
  src: url("../fonts/Afek-Regular/Afek-Regular.ttf") format("truetype"), url("../fonts/Afek-Regular/Afek-Regular.woff") format("woff"), url("../fonts/Afek-Regular/Afek-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Afek-Thin";
  src: url("../fonts/Afek-Thin/Afek-Thin.eot");
  src: url("../fonts/Afek-Thin/Afek-Thin.ttf") format("truetype"), url("../fonts/Afek-Thin/Afek-Thin.woff") format("woff"), url("../fonts/Afek-Thin/Afek-Thin.woff2") format("woff2");
}

body {
  display: flex;
  justify-content: space-around;
  font-family: 'Afek';
  font-size: 16px;
}

main {
  width: 1440px;
  height: 900px;
  display: flex;
}

.main-section {
  border: solid 1px #d6d6d6;
  max-width: 720px;
  max-height: 900px;
}

.main-section .main-content {
  padding: 48px 113px;
}

.main-section .main-content header h1 {
  color: #357875;
  font-family: 'Afek-Bold';
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 8px;
}

.main-section .main-content header p {
  line-height: 1.63;
  margin: 0;
}

.main-section .main-content form fieldset {
  padding: 0;
  border: none;
  display: flex;
  width: 494px;
}

.main-section .main-content form fieldset .name-field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 21px 0 10px 24px;
  width: 235px;
  height: 91px;
}

.main-section .main-content form > label {
  display: block;
}

.main-section .main-content form > input {
  width: 478px;
  margin-bottom: 25px;
}

.background-image {
  position: absolute;
  width: 720px;
  height: 900px;
}

.background-logo {
  position: relative;
  width: 147px;
  height: 52px;
  padding: 45px 531px 803px 42px;
}

section {
  width: 720px;
  height: 900px;
}

label {
  line-height: 1.5;
}

input {
  height: 48px;
  border-radius: 4px;
  border: solid 1px #d6d6d6;
  padding: 0 16px 0 0;
}

input:focus {
  outline: 1px #aa198d;
  border-color: #aa198d;
  border-radius: 4px;
  color: #424242;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: #898989;
}
