@import 'utils';

$green: #357875;
$purple: #aa198d;
$light: #d6d6d6;
$font-stack: url('../fonts/Afek-Regular/Afek-Regular.woff');

@include font-face("Afek-Bold", "Afek-DemiBold");
@include font-face("Afek", "Afek-Regular");
@include font-face("Afek-Thin", "Afek-Thin");