@import 'utils';

$green: #357875;
$purple: #aa198d;
$light: #d6d6d6;
$white: #ffffff;
$grey:#707070;
$red:#ff3a00;
$black: #424242;

$tablet-max: 'max-width: 1000px';
$tablet-min: 'min-width: 426px';
$mobile: 'max-width: 425px';

$font-stack: url('../fonts/Afek-Regular/Afek-Regular.woff');

@include font-face("Afek-Bold", "Afek-DemiBold");
@include font-face("Afek", "Afek-Regular");
@include font-face("Afek-Thin", "Afek-Thin");