@mixin font-face($name, $file) {
  @font-face {
    font-family: "#{$name}";
    src: url("../fonts/#{$file}/#{$file}.eot");
    src: url('../fonts/#{$file}/#{$file}.ttf') format('truetype'),
    url('../fonts/#{$file}/#{$file}.woff') format('woff'),
    url('../fonts/#{$file}/#{$file}.woff2') format('woff2');
  }
}

@mixin input-style {
  height: 48px;
  border-radius: 4px;
  border: solid 1px $light;
  padding: 0 16px 0 0;

  &:hover {
    border: solid 1px $grey;
  }
  
  &:focus {
    outline: 1px $purple;
    border-color: $purple;
    border-radius: 4px;
    color: $grey;

    &::placeholder {
      color: transparent;
    }
  }

  // Not working in Explorer...
  &::placeholder {
    color: $light;

  }
}

@mixin submit-box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 494px;
  font-size: 18px;
  height: 86px;
  margin: -49px auto;
  bottom: 0;
  box-shadow: 0px -4px 8px 0 rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px $light;
  background-color: $white;
  z-index: 1;
}

@mixin logo {
  width: 147px;
  height: 52px;
}

@mixin tablet-mode {
  @media screen and ($tablet-max) and ($tablet-min) {
    @content;
  }
}

@mixin mobile-mode {
  @media screen and ($mobile) {
    @content;
  }
}