@import 'config';
@import 'utils';

body {
    display: flex;
    justify-content: space-around;
    font-family: 'Afek';
    font-size: 16px;
}

main {
    width: 1440px;
    height: 900px;
    display: flex;
}

.main-section {
    border: solid 1px #d6d6d6;
    max-width: 720px;
    max-height: 900px;

    .main-content {
        padding: 48px 113px;

        header {

            h1 {
                color: $color;
                font-family: 'Afek-Bold';
                font-size: 44px;
                font-weight: 600;
                margin-bottom: 8px;
            }

            p {
                line-height: 1.63;
                margin: 0;
            }
        }

        form {
            fieldset {
                padding: 0;
                border: none;
                display: flex;
                width: 494px;

                .name-field {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    margin: 21px 0 10px 24px;
                    width: 235px;
                    height: 91px;
                }
            }

            & > label {
                display: block;
            }

            & > input {
                width: 478px;
                margin-bottom: 25px;
            }
        }

    }
}

.background {

    &-image {
        position: absolute;
        width: 720px;
        height: 900px;
    }

    &-logo {
        position: relative;
        width: 147px;
        height: 52px;
        // object-fit: contain;
        padding: 45px 531px 803px 42px;
    }
}

section {
    width: 720px;
    height: 900px;
}

label {
    line-height: 1.5;
}

input {
    // max-width: 468px;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #d6d6d6;
    padding: 0 16px 0 0;

    &:focus {
        outline: 1px $purple;
        border-color: $purple;
        border-radius: 4px;
        color: #424242;

        &::placeholder {
            color: transparent;
        }
    }

    // Not working in Explorer...
    &::placeholder {
        color:#898989;
    }

}
