@import 'config';
@import 'utils';
@import 'typography';
@import 'select2';
@import 'error';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Afek';
    font-size: 16px;
}

main {
    margin: 0 auto;
    // For static width
    width: 1440px;
    // 
    height: 900px;
    display: flex;

    @include tablet-mode {
        height: 1184px;
        width: 768px;
    }

    @include mobile-mode {
        height: 1211px;
        width: 375px;
    }
}

.main-section {
    border: solid 1px $light;
    height: 898px;
    display: flex;
    justify-content: center;
    position: relative;

    .tablet {
        display: none;

        @include tablet-mode {
            display: block;
            margin: 0;
            height: 1184px;
            width: 768px;
        }
    }

    .mobile {
        display: none;

        @include mobile-mode {
            display: block;
            top: 0;
            position: absolute;
            height: 193px;
            width: 375px;
        }
    }

    .main-content {
        z-index: 1;
        // For Flexible Child Elements
        // width: 100%;
        // padding: 48px 113px;
        // For Static Child Elements
        width: 494px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        margin-top: 48px;

        header {
            h1 {
                margin-top: 0;
                margin-bottom: 8px;
            }

            p {
                margin-bottom: 21px;
                width: calc(100% - 15px);
            }
        }

        form {
            position: relative;
            height: 712px;

            &>div {
                margin-bottom: 25px;

                label {
                    display: block;
                    width: 100%;
                }

                input {
                    width: 100%;
                }

                @include mobile-mode {
                    width: 334px;
                    margin-left: 0;
                }
            }

            .row {
                padding: 0;
                display: flex;
                justify-content: space-between;
                margin-bottom: 0;
                position: relative;

                .name-field {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    margin-bottom: 10px;
                    width: 235px;
                    height: 91px;

                    input {
                        width: 100%;
                    }

                    @include mobile-mode {
                        width: 159px;
                    }

                }
            }


        }

        .description {
            margin: 0;
            font-size: 12px;
            color: $light;
        }

        .license {
            margin-bottom: 7px;
        }

        .password-div{
            position: relative;
            #info-image {
                cursor: pointer;
                width: 24px;
                height: 24px;
                position: absolute;
                top: 0;
                margin: 0 50px 0 0;
            }

            .popup {
                position: absolute;
                visibility: hidden;
                text-align: initial;
                margin-top: 30px;
                width: 245px;
                height: 140px;
                padding: 4px 11px 8px;
                border-radius: 2px;
                box-shadow: 1px 1px 18px 0 rgba(0, 0, 0, 0.34);
                background-color: #424242;
                line-height: 1.63;
                color: $white;
                z-index: 2;


                &::after {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: 75%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555  transparent transparent transparent;
                    transform: rotate(180deg);
                }
            }

            .show {
                visibility: visible;
            }
        }

        .pass-icon {
            position: absolute;
            left: 14px;
            bottom: 30px;
            cursor: pointer;
        }

        .checkbox-div {
            margin-top: 11px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            // Change the background color
            input {
                width: 18px;
                height: 18px;
                margin-left: 11px;
            }
        }

        .submit-div {
            @include submit-box;

            button:disabled {
                background-color: #eaeaea;
                color: #bbbbbb;
                cursor: not-allowed;
            }
        }
    }

    @include tablet-mode {
        margin: auto;
        justify-content: center;
        height: 1184px;
        width: 574px;

        .main-content {
            padding: 0;
            margin-top: 128px;
            background-color: $white;
            // 
            height: 1020px;
            // 
            width: 100%;
            padding: 56px 40px 55px 40px;

            .submit-div {
                position: static;
                width: 494px;
                padding: 0;
                margin: 0;
                border: none;
                box-shadow: none;
            }
        }

    }

    @include mobile-mode {
        margin: 0 auto;
        justify-content: center;
        height: 100%;
        width: 375px;

        .main-content {
            padding: 0;
            margin-top: 193px;
            background-color: $white;
            height: 1018px;
            width: 100%;
            padding: 30px 20px 32px 21px;
            
            .submit-div {
                position: static;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                padding: 0;
                margin: 0;
                border: none;
                box-shadow: none;
    
                button {
                    width: 100%;
                }
            }
        }

    }
}

.close-btn {
    position: absolute;
    right: 0;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: $white;

    .white {
        display: none;
    }

    @include tablet-mode {
        background-color: inherit;
        margin-right: 0;
        margin-left: 0;

        .white {
            margin-right: -57px;
            display: block;
            z-index: 1;
        }

        .black {
            display: none;
        }
    }

    @include mobile-mode {
        background-color: inherit;

        .white {
            margin: 0;
            display: block;
            z-index: 1;
        }

        .black {
            display: none;
        }
    }
}

.inner-wrapper {
    width: 100%;
    height: 100%;
}

.background {
    position: relative;

    &-image {
        position: absolute;
        width: 100%;
        height: 900px;
    }

    &-logo {
        @include logo;
        position: absolute;
        z-index: 1;
        left: 0;
        margin: 45px 0 0 42px;
    }

    @include tablet-mode {
        display: none;
    }

    @include mobile-mode {
        display: none;
    }
}

.tablet-logo {
    display: none;

    @include tablet-mode {
        @include logo;
        display: inline;
        position: absolute;
        top: 44px;
    }

    @include mobile-mode {
        @include logo;
        display: inline;
        position: absolute;
        top: 70px;
    }
}


section {
    width: 50%;
    height: 100%;
}